/* font link here */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", sans-serif; */

* {
  margin: 0;
  padding: 0;
}
/* hero styles here */
#hero {
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 919px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  width: 1023px;
  /* margin: 264px 449px 264px 458px; */
  /* margin-bottom: 222; */
  text-align: center;
}
.hero-subtitle {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.hero-title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 16px;
}
.hero-description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-top: 24px;
}
.hero-btn {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 600;
  width: 282px;
  height: 65px;
  border: none;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  color: rgb(255, 255, 255);
  font-family: Work Sans;
}

/* Section Two Styles Part Here---------------------------- */
.fav-container {
  text-align: center;
  font-family: Work Sans;
  margin-top: 200px;
}
.fav-sub-title {
  color: rgb(16, 16, 16);
  font-size: 24px;
  font-weight: 500;
  opacity: 0.6;
}
.fav-title {
  color: rgb(16, 16, 16);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  margin-top: 16px;
  margin-bottom: 48px;
}
/* Card Part */
.card-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.card {
  font-family: Work Sans;
  text-align: center;
  max-width: 424px;
  max-height: 522px;
}
.card-sub-title {
  width: 187px;
  height: 56px;
  color: rgb(16, 16, 16);
  font-size: 24px;
  font-weight: 600;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  /* text-align: center; */
  padding: 14px 32px;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-title {
  color: rgb(16, 16, 16);
  font-size: 40px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 24px;
}
.card-description {
  color: rgb(16, 16, 16);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  opacity: 0.7;
}
.card-btn {
  text-align: center;
  margin-top: 64px;
}
/* We Section Styles Here------------------ */
.we-container {
  font-family: Work Sans;
  display: flex;
  justify-content: space-between;
  gap: 88px;
  text-align: center;
  margin-top: 200px;
}
.we-title {
  margin-top: 136px;
  margin-bottom: 24px;
}
.follow {
  color: rgb(16, 16, 16);
  font-size: 32px;
  font-weight: 600;
  opacity: 0.7;
  margin-top: 78px;
}
.icon {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 62px;
}
/* Last Style Part Here-------------- */
.last-container {
  /* text-align: center; */
  margin-top: 200px;
  font-family: Work Sans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  position: relative;
}
.last-container::before {
  content: '';
  background-image: url("../assets/social-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.1;
}
.last-title {
  margin-top: 137px;
  margin-bottom: 24px;
}
.last-follow {
  margin-top: 78px;
}
.last-icon {
  margin-top: 32px;
  margin-bottom: 136px;
}
